<p>In this page there are some examples of the FacilityLive existing deals. Right now the customers’ names cannot be disclosed because the contracts are in production phase.</p>

<p><b>FacilityLive Dynamic Brochure Builder & FacilityLive Easy Sales</b></p>

<p>A major Italian Telecom Network Operator installed the FacilityLive Dynamic Brochure Builder and the FacilityLive Easy Sales applications in over 1000 shops.</p>
<p>Key benefits:</p>
        <ul>
           <li>paper savings for GreenIT initiatives</li>
           <li>reduced waiting queues within the stores</li>
           <li>Sales Operations were enriched through user behavior data analytics for Next Generation Customer Experience</li>
           <li>no more parametric steps for users</li>
           <li>reports and user feedbacks “on the fly”</li>
           <li>innovation in Digital Marketing activities</li>
        </ul>

<p><b>FacilityLive Customer Services Inbound</b></p>

<p>A prime International Telecom Network Operator installed the FacilityLive Customer Service Inbound application integrating data coming from 25 different systems (Oracle, Siebel, ITSM Remedy etc.). Thanks to FacilityLive, the operator has increased staff efficiency and managed to quickly deliver IT services bridging the gap between structured and unstructured data.</p>

<p><b>FacilityLive Travel Builder</b></p>

<p>A German Transportation Company acquired the FacilityLive Travel Builder application with the objective to provide an innovative and compelling customer experience through a platform that can aggregate all value added services for travel requests in an easy to use and dynamic cockpit. It is the first full internal generated deal for FacilityLive.</p>
<p>Key benefits:</p>
        <ul>
            <li>innovative and interactive Customer Experience</li>
            <li>Front-end driven portal to aggregate all value added services for travel requests</li>
        </ul>

