<p>
	<b>FacilityLive OpCo S.r.l.</b>
</p>
<p>Polo Tecnologico di Pavia</p>
<p>Via F.lli Cuzio, 42 27100 Pavia (PV)</p>
<p>Phone: +39 0382 17 26 277</p>
<p><a href='mailto:facility@facilitylive.com'>E-mail: facility@facilitylive.com</a></p>
<br>
<div class="disclaimer">
    <p>FacilityLive website copyrights 2013:</p>
    <p> “For ontological steps, for quotes, for graphic, cartographic and photographic reproductions belonging to third parties properties which are included in this website, FacilityLive is available to those entitled we were not able to find as well as for any unintended omissions and / or mistakes in the references attribution”.</p>
    <p> For information, <br>send an e-mail to <a href='mailto:facility@facilitylive.com'>facility@facilitylive.com</a>
    </p>
</div>

