<div class="news_page">
    <p>
        <p><b>ICT TRADE SPECIAL EDITION</b></p>
        <p>Crowne Plaza Milano Linate - San Donato Milanese</p>
        <p>21 - 22 May 2013</p>
        <p>
       <a target="_blank" href="http://www.sirmi.it/Italiano/Eventi_Inviti/ICTTrade2013/ICT%20Trade%202013%20-%20Presentazione%20per%20gli%20Sponsor%20-%20Special%20Edition%20Sito.pdf">Event website</a>
         </p>
            <br>

        <p><b>PORTE APERTE ALLE IMPRESE (CAREER DAY)</b></p>
        <p>Palazzo Centrale Università di Pavia</p>
        <p>22 May 2013</p>
        <a target="_blank" href="http://cor.unipv.it/post/PAI13/intro.html">Event website</a>
    </p>
</div>