<p><b>1% Projects</b> is the name of the activity by which FacilityLive chooses every year, starting from 2013, three projects to which assign 1% of the total economical resources and technology available.</p>
<p>The three projects are annually devoted to:</p>
    <ul>
        <li>social purposes or activities to support the most vulnerable;</li>
        <li>the promotion of talent;</li>
        <li>the promotion of the Italian artistic or cultural heritage.</li>
    </ul>
<p>Selected projects for 2013 are:</p>
    <ul>
        <li>the donation of 5 iPads and the creation of 1 App aimed at supporting speech therapists of the Seraphic Institute of Assisi - Rehabilitation Center;</li>
        <li>A scholarship for a PhD of the University of Genoa on a thesis entitled "A taxonomy of the Italian Renaissance";</li>
        <li>A not already disclosed project for the promotion of the Italian historical and artistic heritage.</li>
    </ul>