<p>One of the great strenghts of FacilityLive is the number of patents obtained as a recognition of its software uniqueness. To date, FacilityLive has patents protecting the entire technology in <b>39 countries</b> spread across <b>5 continents.</b></p>
        
<p>39 are the countries having already granted patents to FacilityLive:</p>
    <div class='justifyClass'>
       <p><b>ITALY UNITED-STATES RUSSIA AUSTRALIA SOUTH-AFRICA JAPAN GERMANY SPAIN FRANCE UNITED-KINGDOM</b> AUSTRIA BELGIUM BULGARIA SWITZERLAND CYPRUS CZECH-REPUBLIC DENMARK CROATIA HUNGARY IRELAND ISLAND LITHUANIA LUXEMBURG LATVIA REPUBLIC-OF-MACEDONIA MALTA NETHERLANDS NORWAY POLAND PORTUGAL ROMANIA SWEDEN SLOVENIA SLOVAKIA TURKEY MONACO  ESTONIA FINLAND GREECE
        </p>
    </div>

<p>Highlights: patents granted in 39 countries - patents granted on methods - European patent granted - USA patent granted.</p>