<p>FacilityLive is an information management platform ready to solve the Big Data issues and the Extreme Information Management challenges.</p>
<p>Its technology is able to <b>mash-up</b> at the maximum possible level.</p>
<p>The FacilityLive platform has nothing to do with the old algorithmic approach of the traditional search engines based on full text. This software is innovative and makes use of the semantic process and methodologies borrowed from more than 25 years of information management experience of the founders: a highly effective solution to the problem of information management.</p>
<p>The strength of this forward-looking technology lies on the uniqueness of the engine, on the completeness of the features and use cases proposed, in its friendly user experience and innovative methodology of digital data cataloguing and management.</p>
<p>The FacilityLive approach is conceptually simple and consists of three stages:</p>
    <br />
    <div>
        <ol>
            <li>data and information organization</li>
            <li>data and information search</li>
            <li>data and information use</li>
        </ol>
    </div>
    <br />
    <p><b>Data and Information Organization</b></p>
<p>The FacilityLive Platform organizes data as follows:</p>
    <div>
        <ol>
            <li>timely and accurate <b>cataloguing</b> of all available info-domains;</li>
            <li><b>recognition</b> of any type of data or information, regardless of its genesis, format, organization, position;</li>
            <li><b>organization</b> of data and information based on the principle of Pertinence, in a configuration of maximum cleanliness and precise fitting between all environments analyzed according to a True Semantic approach.</li>
        </ol>
    </div>
<p><b>Data and Information Search</b></p>
<p>The real strength of the FacilityLive Platform is its revolutionary semantic layer that, unlike Full Text Driven models:</p>
<div>
    <ul>
        <li>does not create data volumes and additional huge amount of information;</li>
        <li>operates basing its analysis on the principle of advanced pertinence;</li>
        <li>acts on unstructured data as well.</li>
    </ul>
</div>
<p>The innovative <b>Semantic Layer</b> is able to return high pertinence results by identifying and displaying the meaningful and more valuable information.</p>
<p><b>Data and Information Use</b></p>
<p>The FacilityLive Platform is a <b>Front-End-driven</b> solution, where information are made available to users in an easy and effective way: the data are clean, organized in a flexible layer and functional to the achievement of the business objectives.</p>