
<div ng-controller="MainCtrl">
	<h1>CarMood</h1>
        <div class="car">
           <div>frontLeftDoor: {{car.frontLeftDoor}}</div>
           <div>headlights: {{car.headlights}}</div>
           <div>backRightDoor: {{car.backRightDoor}}</div>
           <div>speed: {{car.speed}}</div>
           <div>frontRightDoor: {{car.frontRightDoor}}</div>
           <div>frontLeftDoor: {{car.backLeftDoor}}</div>
        </div> 
        <div class="weather">
           <img src='{{weather.icon}}'/>
        </div> 
        <div class="location">
        	<div>latitude: {{position.coords.latitude}}</div>
            <div>longitude: {{position.coords.longitude}}</div>
        </div>
        <p>Songs</p>
        	<div class="songs">
	                <div>title: {{songs[0].title}}
	                <audio controls>
	                	<source src="{{songs[0].audio_url}}" type="audio/mpeg">
	                </audio> 
	                </div>
	       </div>
        
    </ul>
</div>