<div ng-controller="TooltipCtrl">
        <div class='container_map'>
            <div class='first_row'>
                <div class='FR_one'>
                    <div class='img_compass'>
                        <img src='./images/Bussola_gialla.png'>
                            <div class="img_text_yellow">
                                <span  tooltip-placement="bottom" tooltip-html-unsafe='{{organize}}'>Organize</span>
                            </div>
                    </div>
                </div>
                    <div class='FR_two'>
                        <div class='img_compass'>
                        <img src='./images/Bussola_rossa.png'>
                        <div class="img_text_red">
                            <span  tooltip-placement="bottom" tooltip-html-unsafe='{{increase_revenues}}'>Increase Revenues</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class='second_row'>
                <div class='SR_one'>
                    <div class='img_compass'>
                        <img src='./images/Bussola_gialla.png'>
                        <div class="img_text_yellow">
                                <span  tooltip-placement="right" tooltip-html-unsafe='{{search}}'>Search</span>
                        </div>
                    </div>
                </div>
                <div class='SR_two'>
                    <div class='img_compass'>
                        <img src='./images/Bussola_verde.png'>
                        <div class="img_text_green">
                            <div class="green_text">
                                <span  tooltip-placement="right" tooltip-html-unsafe='{{information_3d}}'>What is Information 3D?</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='SR_three'>
                    <div class='img_compass'>
                        <img src='./images/Bussola_rossa.png'>
                        <div class="img_text_red">
                            <span  tooltip-placement="left" tooltip-html-unsafe='{{reduce_time}}'>Reduce Time to Market</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class='third_row'>
                <div class='TR_one'>
                    <div class='img_compass'>
                        <img src='./images/Bussola_gialla.png'>
                        <div class="img_text_yellow">
                            <span  tooltip-placement="top" tooltip-html-unsafe='{{uset}}'>Use</span>
                        </div>
                    </div>
                </div>
                <div class='TR_two'>
                    <div class='img_compass'>
                        <img src='./images/Bussola_rossa.png'>
                        <div class="img_text_red">
                            <span  tooltip-placement="left" tooltip-html-unsafe='{{save_opex}}'>Save Opex</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class='end_row'>
                <div class='end_one'>
                    <div class='img_compass'>
                        <div class="img_text_gray">
                            <img tooltip-placement="left" tooltip-html-unsafe='{{portolano}}' class="img_gray" src='./images/Bussola_question.png'>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>