<div class="content_job">
    <div class="job_info">
        <p><b>Location:</b> Milan Area, Italy - Pavia</p>
        <p><b>Type:</b> Full-time</p>
        <p><b>Experience:</b> Entry Level</p>
        <p><b>Industry:</b> Information Technology and Services</p>
        <p><b>Job Function:</b> Sales</p>
    </div>
    <div class="job_desc">
        <p><b>Job description:</b></p>
        <ul>
            <li>We aim at recruiting and attracting the Top 2% of Software Sales People in the Industry</li>
            <li>If you are a top performing sales person who has a proven track record and faith in their own ability, FacilityLive provides an environment built on meritocracy to overachieve, grow and be highly rewarded</li>
            <li>Our Sales leadership has a demonstrable track record of building enterprise software companies through a supportive coaching style and employing a sales methodology which differentiates, having been developed over 15 years and thousands of man quarters</li>
            <li>An entrepreneurial, experienced, progressive and successful sales culture that rewards and recognizes performance - this is a company based on meritocracy</li>
            <li>Growth from within– we promote internally before looking outside the organization</li>
            <li>An environment to acquire the skills to drive a consistent and predictable sales outcome</li>
        </ul>
    </div>
    <div class="market">
        <p><b>MARKET OPPORTUNITY</b></p>
        <ul>
            <li>Gartner reports that by 2015, those companies who have adopted Big Data and extreme information management, will begin to outperform their unprepared competitors by 20% in every available financial metric.</li>
            <li>Early use cases of Big Data are delivering measurable results and strong ROI.</li>
            <li>Big data became a priority in 2012 as companies found themselves with a lot of raw information but little analysis or the right tools to manage the data</li>
            <li>As a result, the industry focus is shifting from an IT perspective to a business perspective – where the data is used as a competitive advantage</li>
            <li>The overall consensus is: no matter what your industry, big data is a problem you can’t ignore</li>
        </ul>
    </div>
    <div class="skill_exp">
        <p><b>Desired Skills & Experience:</b></p>
        <ul>
            <li>3-5yrs sales experience in Enterprise Software</li>
            <li>Excellent education background (university)-smart/quick thinking</li>
            <li>Best sales years ahead of them rather than behind them</li>
            <li>Consistent overachiever - over 100% last 3 years of quota</li>
            <li>Hunter mentality (business development) and ambition to succeed</li>
            <li>Entrepreneurial spirit/start up mentality</li>
            <li>Ability to drive consistent outcomes through the most powerful and consistent Sales Process.</li>
            <li>Excellent strategic planning and accurate forecasting (pipeline activity)</li>
            <li>Team player & strong relationship builder</li>
            <li>Coachable</li>
            <li>Highly driven and Sense of Achievement</li>
            <li>High Integrity and Ethical behavior</li>
            <li>Fluent in English</li>
            <li>Place of residence: Milan and surroundings</li>
        </ul>
    </div>
</div>

