<div class="content_job">
    <div class="job_info">
        <p><b>Location:</b> Milan Area, Italy - Pavia</p>
        <p><b>Type:</b> Full-time</p>
        <p><b>Experience:</b> Junior Level</p>
        <p><b>Industry:</b> Information Technology and Services, Internet</p>
        <p><b>Job Function:</b> Information Technology, Engineering</p>
    </div>
    <div class="job_desc">
        <p><b>Job description:</b></p>
        <p>We are looking for young engineers who are passionate about new technologies to be involved in the design and development of an innovative software platform.</p>
        <p>Required skills: capability to work in teams, strong inclination to agile development, love for software development and for the new frontiers of programming.</p>
        <p>The candidate will be inserted into the development structure, with the opportunity to work in well-oiled teams and cooperate with very experienced people.</p>
    </div>
    <div class="job_require">
        <p><b>Job requirements:</b></p>
        <ul>
            <li>Degree in Computer Science, Computer Engineering or equivalent culture.</li>
            <li>Fluent in English.</li>
        </ul>
    </div>
    <div class="tech_require">
        <p><b>Technical requirements:</b></p>
        <ul><li>Fluent in Java Enterprise</li>
            <li>Fluent in Javascript, jQuery, CSS3, HTML5, MySQL</li>
            <li>Fluent in Tomcat or equivalent server application</li>
            <li>Good knowledge of SQL and RDBMS (MySQL, Oracle or equivalent)</li>
            <li>Good knowledge of a development IDE (Eclipse, IntelliJIDEA, NetBeans, JDeveloper)</li>
        </ul>
    </div>
</div>