<div class="content_job">
    <div class="job_info">
        <p><b>Location:</b> Milan Area, Italy  - Pavia</p>
        <p><b>Type:</b> Full-time</p>
        <p><b>Experience:</b>  Mid-Senior Level</p>
        <p><b>Industry:</b> Information Technology and Services, Internet</p>
        <p><b>Job Function:</b> Information Technology, Engineering</p>
    </div>
    <div class="job_desc">
        <p><b>Job description:</b></p>
        <p>We are looking for a Java Architect to expand the development team of our FacilityLive software platform.</p>
        <p>The candidate will be inserted into the core development structure, with the possibility to work both in the back-end and in the front-end team, as well as in the webapps team.</p>
        <p>Required skills: capability to work in teams, strong inclination to agile development, love for software development.</p>
    </div>
    <div class="job_require">
        <p><b>Job requirements:</b></p>
        <ul>
            <li>Degree in Computer Science, Computer Engineering or equivalent culture.</li>
            <li>AAt least 6 years of experience as software developer, preferably gained in software houses focusing on the development of software products or complex projects;</li>
            <li>Fluent in English;</li>
        </ul>
    </div>
    <div class="tech_require">
        <p><b>Technical requirements:</b></p>
        <ul>
            <li>excellent knowledge of Java Enterprise;</li>
            <li>specialized in the development and implementation of web based architectures, RIA, SOA</li>
            <li>excellent knowledge of the main jee design patterns (GoF)</li>
            <li>excellent knowledge of EJB3, Servlets, Portlets, Hibernate, Spring, MVC, Struts</li>
            <li>good knowledge of Tomcat or equivalent server application</li>
            <li>in depth knowledge of Javascript, jQuery, CSS3, HTML5, MySQL</li>
            <li>proven expertise in scalable web-oriented architectures, multi-tier, multi-device, multi db.</li>
            <li>excellent knowledge of SQL and RDBMS (MySQL, Oracle or equivalent)</li>
            <li>very good knowledge of a development IDE (Eclipse, IntellijIdea, NetBeans, JDeveloper)</li>
            <li>knowledge of one or more of versioning systems: cvs, svn, git, mercurial</li>
        </ul>
    </div>
    <div class="prefs_require">
        <ul>
            <li>knowledge of agile and scrum methodologies</li>
            <li>good knowledge of Liferay</li>
            <li>good knowledge of Hibernate or EJB 3</li>
            <li>good knowledge of Jboss 7</li>
            <li>good knowledge of database nosql</li>
            <li>good knowledge of RESTful services</li>
            <li>good knowledge of architecture in sharding, clustered architectures</li>
            <li>precision and attention to the quality of the software</li>
            <li>proactivity, autonomy</li>
        </ul>
    </div>
</div>
